li {
    font-size: 0.8em;
}
ul.smaller > li,
li.smaller,
p.smaller {
    font-size: 0.7em;
}
h2.smaller {
    font-size: 95%;
}
h2.smallest {
    font-size: 90%;
}
ul.larger li, li.larger {
    font-size: 1em;
}
ul.smallest > li,
li.smallest,
p.smallest {
    font-size: 0.5em;
}
.smaller pre {
   font-size: 40%;
}
.smallest pre {
   font-size: 35%;
}
.reveal .thumbnails img.half {
    width: 30%;
    height: 240px;
}
.reveal .thumbnails img.third {
    width: 22%;
    height: 190px;
    margin-top: 5px;
}
.reveal .thumbnails img.quart {
    width: 15%;
    height: 130px;
}
.righty {
    text-align: right;
    padding-right: 2em;
}

ul.nobutton li,
li.nobutton {
    list-style: none;
}
code.wider {
    /* min-width: 20em; */
    width: 110%;
    /* padding: 5em; */
}
pre.wider {
    width: 100%;
}
em.custom {
    color: #f99;
}

pre code.editor {
  background: #273822;
}
pre code.editorgreen {
  background: #372822;
}
pre code em {
   color: #aaaaff;
}
pre code em.red {
   color: #ffaaaa;
}
.darker a,
.darker a:visited {
   color: white;
}
